header{
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: center;
    font-size: 25px;

}
.minav{
    font-style: normal;
    align-content: center;
    padding: 2rem;
    display: inline-block;

}
.listanav{

    display: inline-flex;
    font-family: 'Bebas Neue', sans-serif;
}
.listanav li{

    padding-right: 1rem;

}

.listanav li:hover{
    color: #ffa300;
}